{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
</br>
	<div class="row">
		<div class="col-sm-12 col-lg-6">
			<div class="jumbotron p-4" >
			  <h1 class="display-4">You are in demo mode!</h1>
			  <p class="lead">The purpose of this mode is to demonstrate what happends on the backend of this Django application.</p>
			  <hr class="my-4">
			  <p>Anytime you click an action, you will be alerted as to what would be passed to the command file.
			  You can learn more by clinking below.</p>
			  <a class="btn btn-primary btn-lg" href="http://github.com/apples723/hotelcast" role="button">Learn More</a>
			</div>
		</div> 
		<div class="col-sm-12 col-lg-6">
		
			<div class="row">
			<div class="col-12 ml-4">
			
			<h3>Search for a Show:</h3>
			<form action="/search_show">
					<div class="row">
					   
						<!--end of col-->
						<div class="col">
							<input required class="form-control form-control-lg form-control-borderless" type="search" name="query" placeholder="Show Title">
						</div>
						<!--end of col-->
						<div class="col">
							<button class="btn btn-lg btn-success" type="submit">Search</button>
						</div>
						<!--end of col-->
					</div>
				</form>
					

			</div>
			<div class=" col-12 ml-4 my-3">
			<h3>Search for a Movie:</h3>
			
					<form action="/search_movie">
							<div class="row">
								
								<!--end of col-->
								<div class="col">
									<input required class="form-control form-control-lg form-control-borderless" type="search" name="query" placeholder="Movie Title">
								</div>
								<!--end of col-->
								<div class="col">
									<button class="btn btn-lg btn-success" type="submit">Search</button>
								</div>
								<!--end of col-->
							</div>
						</form>
			 </div> 
			</div>
		</div>
	</div>
{% endblock %}