{% extends 'base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}
	</br>
	{% for movie in movie_info.values %}
      <div class="row">
			<div class="col-md-4">
			  <img class="img-fluid" src="{{movie.img_lrg}}" alt="">
			</div>

			<div class="col-md-8">
			<h1>{{ movie.title }}</h1>
			  <h3 class="my-3">Movie Description</h3>
			  <p>{{movie.bio}}</p>
			<div class="movie_links">
			{% if movie.hulu %}
				<span id="actionLink" data="{{movie.hulu}}"><img width="100px" height="50px" class="img-fluid" src="{% static 'img/hulu.png' %}"></span>
			{% endif %}
			{% if movie.amazon %}
				<span id="actionLink" data="{{movie.amazon}}"><img width="100px" height="50px" class="img-fluid" src="{% static 'img/amazon_prime.png' %}"></span>
			{% endif %} 
			{% if movie.netflix %}
				<span id="actionLink" data="{{movie.netflix}}"><img width="50px" height="50px" class="img-fluid" src="{% static 'img/netflix.png' %}"></</span>
			{% endif %}
		</div>
		  </div>
	  </div>
	  <div class="row"> 
		
	</div>
	{% endfor %}
	
{% endblock %}