{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
	{% for show in show_info.values %}
      <h1 class="my-4">{{ show.title }}</h1>
      <div class="row">
			<div class="col-md-8">
			  <img class="img-fluid" src="{{show.img_lrg}}" alt="">
			</div>

			<div class="col-md-4">
			  <h3 class="my-3">Show Description</h3>
			  <p>{{show.bio}}</p>
		  </div>
		 
	  </div>
	{% endfor %}
	<br>
	 <div class="netflix_status"> 
		{% if netflix_status == "yes" %}
			<h3>This show is on Netflix</h3>
			<span id="netflix_status" data="true" />
		{% else %}
			<h3>This show is not on Netflix</h3>
			<span id="netflix_status" data="false" />
		{% endif %} 
		</div>
	<br>
	<div class="row">
	<h3>Select Season:</h3>
		<select id="season_dropdown">
			<option value="1">Season 1</option>
		</select>
	</div>
	</br>
	
	<div class="row" id="season_row">
		{% for result in episodes.values %}
			
			<div class="col-md-3 col-sm-6 mb-4">
			 <span id="actionLink" data="{{result.url}}">
				<img class="img-fluid" src="{{result.img}}" alt="">
			  </span>
			  <p>{{result.title}}</p>
			</div>
		{% endfor %}
		</div><!-- End Row -->
	<div id="other_seasons">
	</div>
	
{% endblock %}